* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

html {
    font-family: 'Roboto';
}

body {
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1280px;
    display: flex;
    flex-direction: column;
}

.logo {
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    margin-top: 55px;
    margin-bottom: 38px;
}

.txtblue {
    color: #4BCAFF;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
} 

.header-navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #35444F;
    margin-bottom: 48px;
}

.header-navbar-link {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    border-left: 1px solid #FFFFFF;
    padding: 26px 40px 19px 40px ;
}

.header-navbar-link:hover {
    background-color: rgba(34, 47, 58, 1);
}

.lastborder {
    border-right: 1px solid #FFFFFF;
}

main {
    display: flex;
    flex-direction: row;
}

.sidebar {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 1);
    padding-right: 80px;
    width: 344px;
    margin-right: 52px; 
}

.sidebar-link {
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 42px;
}

.sidebar-link:hover {
    background-color: rgba(219, 219, 219, 1);
    color: rgba(0, 0, 0, 1);
    padding-left: 72px;
    margin-right: -80px;   
}


.img-border {
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 75px 275px 75px 275px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 320px;
    height: 380px;
}

img:hover {
    width: 360px;
    height: 420px;
    margin: -20px;
    transition: 1s;
}


p {
    text-align:left;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgba(44, 44, 44, 1);
    margin-top: 35px;
    margin-bottom: 35px;
}

.footer-navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(99, 105, 110, 0.48);
    padding: 20px 0px 20px 0px;
    margin-bottom: 30px;
}

.footer-navbar-link {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    margin-left: 35px;
}

.footer-navbar-link:hover {
    color: rgba(49, 129, 166, 1);
    text-decoration: underline;
}

.footer-span {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    margin-left: 135px;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto/roboto-v30-latin-regular.woff2) format('woff2');
    font-style: normal;
    font-weight: normal;
}